{#
/**
 * EnupalPaypal plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-paypal/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-paypal/settings/security' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-paypal/settings/save-settings">
	<input type="hidden" name="backupScenario" value="encrypt">

	<div id="settings-cp">

		{% namespace 'settings' %}
			{{ forms.field({
				label: "Security settings"|t('enupal-paypal')|upper,
				instructions: 'Enupal PaypalButtons can encrypt your backup using openssl'
			}, null) }}
			<hr>

			{{ forms.lightswitchField({
				label: "Enable Encryption"|t('enupal-paypal'),
				id: 'enableOpenssl',
				name: 'enableOpenssl',
				on: settings.enableOpenssl,
				onLabel: "On"|t('enupal-paypal'),
				offLabel: "Off"|t('enupal-paypal')
			}) }}

			{{ forms.textField({
				label: "Password"|t('enupal-paypal'),
				id: 'opensslPassword',
				name: 'opensslPassword',
				instructions: "Secure password to encrypt with openssl"|t('enupal-paypal'),
				value: settings.opensslPassword,
				type: "password",
				required: true,
				errors: settings.getErrors('opensslPassword')
			}) }}

		{% endnamespace %}

	</div>

{% endset %}