{#
/**
 * EnupalPaypal plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-paypal/_layouts/elementindex" %}
{% set title = "Paypal Buttons"|t %}
{% set elementType = 'enupal\\paypal\\elements\\Paypal' %}
{% do view.registerAssetBundle("enupal\\paypal\\assetBundles\\FontAwesomeAsset") %}
{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('enupal-paypal/buttons/new') }}">{{ "New Paypal Button"|t('enupal-paypal') }}</a>
    </div>
{% endblock %}
